<nav>
  <ul>
    <li>
    <% if @session == nil %>
      <%=link_to "Home", login_path%>
      <% else %>
      <%= link_to "Home", user_path(@session)%>
      <%end%>
    </li>
    <li>
      <a href="/studios">Studios</a>
    </li>
    <li>
      <a href="/engineers">Engineers</a>
    </li>
    <li>
    <a href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<h1>Schedule Index</h1>

<ul>
<%@schedules.each do |s|%>
<li> Date: <%=link_to s.date, schedule_path(s)%> Time reserved: <%=s.time%></li>
<%end%>

</ul>