/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1{
    color: #534f5b;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    padding:1px;
    margin: 3px;
    line-height:100px;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.25);
    width:310px;
    float:center;

}
body{
    background-image: linear-gradient(to right, #ff9999, #99ddff);
    color: #030553;
    font-family: verdana;
}
li:nth-child(odd) { background: #ffc34d; color: #ffffff; box-shadow: 10px 10px 5px #888888; }
li{
    margin: 1em
}