<nav> <h2>PORTAL</h2>
  <ul>
    <li>
    <% if @session == nil %>
      <%=link_to "Home", login_path%>
      <% else %>
      <%= link_to "Home", user_path(@session)%>
      <%end%>
    </li>
    <li>
      <a href="/studios">Studios</a>
    </li>
    <li>
      <a href="/engineers">Engineers</a>
    </li>
    <li>
    <a href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<h1>Available Studios</h1>
<ul>
<% @studios.each do |s| %>
<li><%=link_to s.name, studio_path(s) %>
</li>
<%end%>